<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
    </style>
</head>

<body>
    <form action="/send" method="GET">
        <label>
            Данные 1
            <input name="data1" />
        </label>
        <label>
            Данные 2
            <input name="data2" />

        </label>
        <label>
            Данные 3
            <input name="data3" />

        </label>
        <label>
            Данные 4
            <input name="data4" />

        </label>
        <button>Отправить</button>
    </form>

</body>

</html>